@use '../base/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --li-list-style:none;
}
*, ::after, ::before {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
  }