  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*Key Frames*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.section-one h1, .section-one p, .section-one a {
    animation: fadeIn 2s ease-in-out;
}

/*NAV*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo{
    height: 100px;
    width: 100px;
}

.nav-li {
    list-style: none;
    display: flex;
    align-items: center;
    
}

.nav-li li {
    padding: 0 25px;
    border-left: #861ec7 1px solid;
}

.nav-li a {
    color: #861ec7;
    text-decoration: none;
    font-size: x-large
}

.nav-li a:hover {
    transition: all 1s ease 0s;
    color: #000
}

/*SECTION ONE*/
.section-one{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/assets/img/heroimage.png) no-repeat center/cover;
    background-size: cover;
    background-position: center top;
    height: 75vh;
    
}
.section-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.section-one h1{
    position: relative;
    margin: 2.5%;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.section-one a {
    position: relative;
    font-weight: bold;
    color: #ff5dec;
    text-decoration: none;
    text-shadow: none;
}

.section-one a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #ff5dec;
    transition: width 1s;
}

.section-one a:hover::after {
    width: 100%;
}

.section-one a:hover {
    font-size: 2rem;
    transition: all 1s ease 0s;
}
.section-one p{
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}


/* SECTION TWO */
.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 209, 240);
    padding: 2rem 0;
}

.contenedor-section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    background-color: rgb(225, 209, 240);
}

.adoptar, .apadrinar, .preguntas {
    width: 100%;
    padding: 2% 5%;
}

.adoptar img, .apadrinar img, .preguntas img {
    width: 100%;
    max-width: 200px; 
    height: auto;
}

.contenedor-section-two h2 {
    font-size: 2rem; 
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1rem;
}

.contenedor-section-two p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.contenedor-section-two a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    background-color: #5cc9ff;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease 0s;
}


@media screen and (max-width: 768px) {
    .contenedor-section-two {
        flex-direction: column; 
    }

    .adoptar, .apadrinar, .preguntas {
        padding: 2% 2%;
    }
}



/*section-three*/
.section-three{
    display: flex;
    flex-direction: column;
}










/*CARDS*/
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin: 1em;
    overflow: hidden;
    width: 300px; /* Ajusta esto según tus necesidades */
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 0;
    padding: 1em;
    background-color: #f4f4f4;
    color: #333;
}

.card p {
    padding: 1em;
    color: #666;
    line-height: 1.5;
}

.card .modal-button {
    margin: 1em;
    padding: 0.75em 1em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center; 
}

.modal-content img {
    width: 50%; 
    height: auto;
    margin: 0 auto; 
}

.modal-content p {
    font-size: medium; 
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

